.main {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    max-width: 1200px;
    margin: 2% 10%;
    font-family:'Courier New', Courier, monospace;
}

.main h1 {
    font-size: 2rem;
    margin: 0;
}

.main h3 {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

.main h4 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

.main p {
    margin: 2px;
}

.main img {
    object-fit:cover;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    padding: 4px 10px 4px 0;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
}

.nav > div > a {
    text-decoration: none;
    color: black;
}

.nav-2 {
    justify-content: space-around;
}

.nav-2 {
    display: flex;
    column-gap: 40px;
    /* padding: 0 10px 0 0; */
}

.s1, .s2, .s3, .footer {
    margin: 50px 0;
} 

.s1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.s1-d1 {
    margin: 10% 0;
    max-width: 40%;
    /* background-color: azure; */
}

.s1-d2 {
    align-items:flex-end;
    margin: 0;
    max-width: 60%;
}

.s2 {
    display: flex;
    max-width: 100%;
    /* background-color: dimgray; */
    justify-content: center;
    text-align: center;
}

.s3 {
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
    /* background-color: dimgray; */
    justify-content: center;
    text-align: center;
}

.s3-d2 {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
}

.left {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 50%;
    height: 300px;
    background-image: url("../../images/daily_planet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.left h3 {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #ffffff99;
}

.right {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 50%;
    height: 300px;
    background-image: url("../../images/gcpd2.jpg");
    background-size: cover;
    background-repeat: space;
}

.right h3 {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #ffffff99;
}

.footer {
    display: flex;
    max-width: 100%;
    padding: 10%;
    justify-content: space-between;
    text-align: center;
}

.footer-d1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
    text-align: justify;
}

.footer-d2 {
    max-width: 50%;
    text-align: center;
}