.main {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 2% 10%;
    font-family:'Courier New', Courier, monospace;
}

.main h1 {
    font-size: 2rem;
    margin: 0;
}

.main h4 {
    font-weight: normal;
    font-size: 10px;
    margin: 0;
}

.main p{
    margin: 2px;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    padding: 4px 10px 4px 0;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
}

.nav > div > a {
    text-decoration: none;
    color: black;
}

.nav-2 {
    justify-content: space-around;
}

.nav-2 {
    display: flex;
    column-gap: 40px;
    /* padding: 0 10px 0 0; */
}

.s1 {
    display: flex;
}

.s1-d1 {
    margin: 10% 0;
    max-width: 40%;
    /* background-color: azure; */
}

.s1-d2 {
    align-items:flex-end;
    margin: 0;
    max-width: 60%;
}

.s1-d2 > img {
    object-fit:cover;
}

.s2 {
    display: flex;
    max-width: 100%;
    background-color: dimgray;
    justify-content: center;
    text-align: center;
}

.s2-d1 > h1 {
    font-size: 2em;
    margin: 0;
}

.s3 {
    display: flex;
    max-width: 100%;
    background-color: dimgray;
    justify-content: center;
    text-align: center;
}

.s4 {
    display: flex;
    max-width: 100%;
    padding: 0 10%;
    background-color: dimgray;
    justify-content: space-between;
    text-align: center;
}

.s4-d1 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: justify;
}

.s4-d2 {
    max-width: 50%;
    text-align: center;
}